/*Main font and stuff*/
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    background-color: #f6f6f6;
}

/* Side nav */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 110px; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D878C6;
    overflow-x: hidden;
    padding-top: 0px;
}
.sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: block;
}
.sidenav a:hover {
    background-color: #BC57A9;
}

/* Hero article */
.mainM{
    margin-left: 110px;
}
.heroImage {
    background-image: linear-gradient(rgba(230, 230, 230, 0.5), rgba(236, 236, 236, 0.5)), url("https://cdn.discordapp.com/attachments/360112061134536705/892514364026937364/unknown.png");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}
.heroText {
    float: left;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: black;
  } 
#heroHeader{
    font-size: 45px;
}
#heroText{
    font-size: 20px;
}

/* Examples button */
.button {
    border: none;
    color: white;
    padding: 10px 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #D878C6;
    position: relative;
    top: 150px;
    left: 65%;
    font-size: 30px;
}

/* Information */
.information{
    margin-top: 200px;
    margin-left: 2%;
    float: left;
}
.infoH{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}
.infoText{
    color: #34495E;
    font-size: 25px;
    width: 30%;
}

/* First section of information */
#infoH1{
    color: #9B59B6;
    float: left;
    margin-left: 10%;
}
#info1Text{
    margin-left: 50%;
    margin-right: 10%;
}

/* Second section of information */
#infoH2{
    float: right;
    margin-right: 15%;
    margin-top: 250px;
    color: #B69B59;
}
#info2Text{
    float: right;
    margin-top: 200px;
    margin-right: 15%;
}

/* Third section of information */
#infoSection3{
    width: 60%;
    margin: auto;
}
#infoH3{
    color: #59B69B;
    clear: both;
    padding-top: 250px;
    text-align: center;
}
#info3Text{
    width: 100%;
}

/* Offers */
.offer{
    border-style: groove;
    border-radius: 1px;
    border-color: #D88A78;
    border-radius: 5px;
    height: 400px;
    width: 30%;
    padding-left: 5%;
    float: left;
    font-size: 26px;
}
.offTitle{
    color: #D88A78;
    text-decoration: underline;
}
.offTitle a:hover{
    color: blueviolet;
}
#off1{
    margin-left: 12%;
    margin-right: 5%;
}
#off2{
    margin-right: 5%;
}

/*Offer info*/
.offInfo{
    padding-top: 50px;
    padding-left: 20%;
    clear: both;
    width: 60%;
}
.offInfo h1{
    color: #9B59B6;
    font-size: 50px;
}
.offInfo p{
    color: #34495E;
    font-size: 23px;
}

/* Interested? */
.contactUs{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    margin-bottom: 150px;
}
.contactUs h1{
    color: #74B659;
    text-align: center;
    font-size: 100px;
}
.contactUs h2{
    color: #00004d;
    text-align: center;
    margin-top: -50px;
    font-size: 50px;
}
.contactUs p{
    text-align: center;
    font-size: 25px;
}

/* Examples */
.examples{
    margin-top: 10px;
}
.examples h1{
    font-size: 50px;
    text-align: center;
}
.examples a{
    color: #77A863;
}

/* Footer */
footer{
    background-color: #E7E7E7;
    height: 100px;
}
footer p{
    text-align: center;
    padding-top: 40px;
    margin: auto;
    width: 100%;
}

